<div class="container mb-5 p-0 border-bottom">
    <h2 class="h1">Portfolio</h2>
    <p class="fs-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    <div class="container p-0 mb-5">
        <div class="row p-0">
            <div class="col-4">
                <div class="card border-0" >
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top"  alt="...">
                    <div class="card-body">
                      <h3 class="card-title text-primary">Project Name</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card border-0" >
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title text-primary">Project Name</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body ">
                      <h3 class="card-title text-primary">Project Name</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>